@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgba(218, 218, 218, 0.308);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 5px solid #5EBEC4;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

p {
    display: block;
    text-align: center;
    margin: 90px; 
}

